# XAU MT4 Bridge production config
BRIDGE_API_TOKEN=replace-with-very-strong-random-token
SIGNAL_STORE=latest_signal.json
JOURNAL_STORE=journal.log
NEWS_CACHE_FILE=news_cache.json
NEWS_CALENDAR_URL=https://nfs.faireconomy.media/ff_calendar_thisweek.json
NEWS_REFRESH_SEC=1800
DEFAULT_NEWS_BLOCK_MINUTES=45
